*{
    text-align: center;
}

.board{
    margin: auto;
    aspect-ratio: 1/1;
    max-height: 95vw;
    max-width: 95vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

/* need to do something to highlight the available squares and dim the unavailable squares
*/
.subGame{
    background-color:rgb(255, 196, 246);
    aspect-ratio: 1/1;
    box-sizing: border-box;
    width: 33%;
    border: solid black .2vw;
    display: flex;
    flex-wrap: wrap;
}

.box{
    aspect-ratio: 1/1;
    box-sizing: border-box;
    width: 33.333%;
    border: solid black 0.1vw;
}