*{
    text-align: center;
}

.board{
    margin: auto;
    aspect-ratio: 1/1;
    max-height: 95vw;
    max-width: 95vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.box{
    aspect-ratio: 1/1;
    box-sizing: border-box;
    width: 33.333%;
    border: solid black 0.1vw;
}

label[for=playerCount]{
    border-radius: 10%;
    background-color: rgb(220, 184, 255);
}

/* need to do something to highlight the available squares and dim the unavailable squares
*/
.subGame{
    background-color: blanchedalmond;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    width: 33%;
    border: solid black .2vw;
    display: flex;
    flex-wrap: wrap;
}

.unavailable{
    background-color:rgb(255, 196, 246);
    pointer-events: none;
    cursor: disabled;
}

.notHere{
    background-color: #c9bb9d;
    pointer-events: none;
    cursor: disabled;
}

/* unavailable is for subGames, unavailableBox is for the rest
*/
.unavailableBox{
    pointer-events: none;
    cursor: disabled;
}

.x{
    background-image: url(X.png);
    background-size: cover;
}

.o{
    background-image: url(O.png);
    background-size: cover;
}

.c{
    background-image: url(C.png);
    background-size: cover;
}